name: Notificación a ntfy.sh

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Enviar notificación a ntfy.sh
        run: |
          # Obtenemos la hora actual en formato HH:MM (puedes ajustar el formato)
          TIME=$(date +'%H:%M')
          
          # Enviamos la notificación usando variables de GitHub
          curl -H "Title: Nuevos cambios en main" \
          -H "Tags: success, alert" \
          -d "Usuario: ${{ github.actor }} | Hora: $(date +'%H:%M')" \
          -d commit: ${{ github.sha }} \
          ntfy.sh/devops-itla